langchain 
langchain-community 
sentence-transformers 
faiss-cpu
chardet
openai
tiktoken
bs4
readability
pdfminer
pdfminer.six
serpapi
readability-lxml
google-search-results
python-docx
pytesseract
fastapi
python-multipart
uvicorn
pdf2image 
pytesseract
pillow
lxml_html_clean
beautifulsoup4 
requests